[Unit]
Description=Dero daemon
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User={{ dero.user }}
Group={{ dero.group }}
WorkingDirectory={{ dero.datadir }}
ExecStart={{ dero.basedir | path_join(dero.pkg.release | string, dero.pkg.daemon) }} --data-dir={{ dero.datadir }}
Restart=always

[Install]
WantedBy=multi-user.target
