[Unit]
Description=Dero daemon
After=syslog.target
After=network.target
{%- if dero.datadir_requires_mount %}
RequiresMountFor={{ dero.lookup.datadir }}
{%- endif %}

[Service]
RestartSec=2s
Type=simple
User={{ dero.lookup.user }}
Group={{ dero.lookup.group }}
WorkingDirectory={{ dero.lookup.datadir }}
ExecStart={{ dero.lookup.basedir | path_join(dero.release | string, dero.lookup.pkg.daemon) }} --data-dir={{ dero.lookup.datadir }}
Restart=always

[Install]
WantedBy=multi-user.target
